<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    @* <link rel="stylesheet" href="~/css/site.css"/> *@

</head>
<body>

@RenderBody()
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
</body>
</html>